<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git 커밋 웹</title>
    <style>
        body { font-family: Arial, sans-serif; max-width: 500px; margin: 20px auto; }
        label { display: block; margin-top: 10px; font-weight: bold; }
        input, button { width: 100%; padding: 8px; margin-top: 5px; }
    </style>

    <script th:nonce="${nonce}" th:src="@{/js/lib/jquery.min.js}"></script>
    <script th:src="@{/js/gitRequest.js}"></script>
</head>
<body>

<h2>Git 커밋 웹</h2>

<form role="form" name="form" id="form">
    <label for="name">User Name</label>
    <input type="text" id="name" name="name" required>

    <label for="email">User Email</label>
    <input type="email" id="email" name="email" required>

    <label for="password">User Password</label>
    <input type="password" id="password" name="password" required>

    <label for="url">Remote Git URL</label>
    <input type="url" id="url" name="url" required>

    <label for="file">파일 업로드</label>
    <input type="file" id="file" name="file" required>


    <label for="message">Commit Message</label>
    <input type="text" id="message" name="message" required>

    <label for="branch">Branch Name</label>
    <input type="text" id="branch" name="branch" value="main" required>

    <button id="btn_register" type="submit">제출</button>
</form>

</body>
</html>
